      <div id='footer'>
        This website was created by Peter St. John <a href="https://github.com/pstjohn">pstjohn</a> and Katie LeVan <a href="https://github.com/klevan">klevan</a><br>
        This page is hosted by <a href="http://pages.github.com">GitHub Pages</a>, which we recognize as perhaps the nerdiest way possible to host a wedding website.<br>
        Feel free to browse the source code (or submit pull requests)! <a href="https://github.com/pstjohn/levanstjohn-wedding">Fork me on GitHub</a>
      </div>

    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{site.baseurl}}/lib/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>

