.jumbotron {
    margin-top: 25px;
    background-image: url(../images/jumbotron_background.jpg);
    background-position: 0% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    padding-right: 0px;
}

.jumbotron h1 {
    font-family: 'Great Vibes', cursive;
    text-shadow: 4px 4px 4px #aaa;
    color: white;
    font-size: 75px;
}

.jumbotron h2 {
    font-family: 'Great Vibes', cursive;
    text-shadow: 4px 4px 4px #aaa;
    color: white;
    font-size: 55px;
}

#title {
    padding-top: 125px;
    padding-right: 0px;
}

.navbar-static-top {
    margin-bottom: 19px;
}

#footer {
  background-color: #4F4F4F;
  border-bottom: 5px solid #fff;
  border-top: 10px solid #fff;
  text-align: center;  
  color: white;
  font-size: 0.8em;
  padding: 10px;
  line-height: 16px;
  clear: both;
}

#home_columns .col-md-4 .thumbnail {
    height: 300px;
}


#home_columns .col-md-4 .thumbnail {
    height: 300px;
}

#home_columns h3 {
    margin-top: 0px;
}

#footer a {
    color: white;
    text-decoration: underline;
}

.home_icon {
    margin-top: 10px;
    display: inline-block;
    font-size: 100px;
    line-height: 100px;
    width: 100%;
    text-align: center;
    vertical-align: bottom;
    color: #317eac;
}

.crop {
    width: 200px;
    height: 150px;
    overflow: hidden;
}

.crop img {
    width: 400px;
    height: 300px;
    margin: -75px 0 0 -100px;
}

.address p {
        font-weight: bold;
        margin: 0px 0px 0px 50px;
}
